button {
    font-family: 'Oswald', sans-serif;
    padding: 5em 10em;
    font-size: 2rem;
    background-color: transparent;
}

.flexbox{
    display: flex;
    padding-top: 30vh;
    justify-content: center
}

.nightMode, text {
    background-color: #0A0D10;
    color: antiquewhite;
}